version: 2.1

orbs:
  cypress: cypress-io/cypress@3.1.2

parameters:
  environment:
    type: enum
    enum: ["stage", "prod"]
    default: "stage"
    description: "Choose the environment to run tests on (stage or prod)."

jobs:
  run-tests:
    executor: cypress/default 
    parameters:
      environment:
        type: enum
        enum: ["stage", "prod"]
        default: "stage"
    resource_class: xlarge  # Allocate more resources for long-running tests    
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
          no_output_timeout: 180m  # Ensures the step doesn’t timeout due to inactivity
      - run:  
          name: Run Cypress Tests
          command: |
            if [ "<< parameters.environment >>" = "stage" ]; then 
              npx cypress run --spec "cypress/e2e/Cambaytiger/stage/*.js" 
              # npx cypress run --spec "cypress/e2e/Cambaytiger/stage/url/Products/*.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/stage/url/Products variant/*.js"  
              
              # npx cypress run --spec "cypress/e2e/Cambaytiger/stage/Search.js"
              # npx cypress run --spec "cypress/e2e/Laundree/Store_Details/Test 17.js" 
              # npx cypress run --spec "cypress/e2e/Laundree/*.js" 
              # npx cypress run --spec "cypress/e2e/Cambaytiger/stage/Booking.js"

              # npx cypress run --spec "cypress/e2e/Cambaytiger/prod/Booking.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/prod/*.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/prod/url/Products/*.js" 

            else
              
              npx cypress run --spec "cypress/e2e/Cambaytiger/prod/*.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/prod/url/Products/*.js" 
              # npx cypress run --spec "cypress/e2e/Laundree/*.js" 

              # npx cypress run --spec "cypress/e2e/Cambaytiger/prod/Booking.js"                

              # npx cypress run --spec "cypress/e2e/Cambaytiger/farzi/*.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/farzi/url/Products/*.js"
              # npx cypress run --spec "cypress/e2e/Cambaytiger/farzi/url/Products variant/*.js"
            fi
          no_output_timeout: 180m  # Ensures the Cypress test execution doesn’t timeout due to inactivity
      - store_artifacts:
          path: cypress/reports
          destination: test-report

workflows:
  version: 2
  run-tests-workflow:
    jobs:
      - run-tests:
          environment: << pipeline.parameters.environment >>
